article.card {
  display: grid;
  grid-template-columns: auto auto;
  font-family: "sofia-pro";
  & > section[data-lang] {
    border-radius: 1rem;
    padding: var(--gap);
    background-color: var(--codeBg) !important;
    position: relative;
    margin-top: var(--gap-xxl);
    &::before {
      --size: .8rem;
      content: attr(data-lang);
      height: max-content;
      width: max-content;
      display: block;
      font-size: var(--size);
      padding: var(--size);
      padding-bottom: 0;
      position: absolute;
      right: 0;
      top: calc(var(--size) * -1);
      background: var(--codeBg);
      color: var(--accent);
      border-radius: 1rem 1rem 0 0;
    }
    & > pre {
      background-color: var(--codeBg) !important;
      margin: 0;
      width: 100%;
    }
  }
  &  img {
    width: 100%;
    margin: var(--gap-xxl) 0;
  }
  & p {
      font-size: clamp(0.7rem, 0.4rem + 1.0667vw, 1rem);
  }
  & code span {
    font-size: 15px;
  }
  & > h5 { 
    margin-block: 0px;
    font-size: clamp(1rem, 0.2rem + 2.8444vw, 1.8rem);
    text-transform: capitalize;
  }
  & > span {
    font-family: "Ellograph CF";
    font-size: .8rem;
    margin: 0;
    justify-self: end;
  }
  & > h1 {
    margin-top: .5rem;
  }
  & > ul {
    list-style: none;
    padding-inline-start: 0px;
    margin-block: 0;
    display: flex;
    height: max-content;
    flex-wrap: wrap;
    gap: var(--gap-sm);
    grid-column: span 2;
    & a {
      border-radius: 2rem;
      width: fit-content;
      padding: .4rem;
      font-size: clamp(0.7rem, 0.4rem + 1.0667vw, 1rem);
    }
  }
  & > a,
  & > button {
    width: auto;
    transform: translateY(40px);
    grid-column: 2;
    place-self: end;
    padding: var(--gap-sm) var(--gap);
    background-color: var(--accent);
    color: var(--black);
  }
}

article[post] {
  display: block;
  & > h1 {
    text-transform: capitalize;
    text-align: center;
    font-size: 3rem;
  }
  & > ul {
    flex-direction: column;
  }
}
main:has(> [post]) {
  grid-template-columns: 10fr 2fr;
}
pre {
  overflow-x: auto;
}
table-content {
  max-width: 350px;
}